@use '@/styles/online_harmony_fonts.css';

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: #b6b7b9;
}

html,
body {
  font-family: 'Inter', 'HarmonyOS Sans SC', 'HarmonyOS_Regular', 'Noto Sans KR',
    'Noto Sans Thai', 'Noto Sans SC', system-ui, Segoe UI, Rototo, Helvetica, Arial,
    sans-serif !important;
}

.dark ::selection {
  background-color: #686868;
}
::selection {
  background-color: #165dff;
  color: #fff;
}
